<div class="left-menu">
    <div class="mySwiperThumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <button class="menu-btn uppercase" name="Главная">Главная</button>
            </div>
            <div class="swiper-slide">
                <button class="menu-btn uppercase" name="О заводе">О заводе</button>
            </div>
        </div>
    </div>
</div>
<div class="mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="fon-img">
                <img src="../../img/first-image.png" alt="Вид на завод">
            </div>
            <div class="on-fon mb-[72px] lg:mb-[100px] 2xl:mb-[170px]">
                <div class="block-text lg:max-w-md xl:max-w-xl 2xl:max-w-4xl">
                    <h1 class="uppercase">Нижегородский завод теплообменного оборудования</h1>
                    <div class="block-red-line flex flex-wrap gap-12 justify-between items-end">
                        <p class="max-w-xl">
                            Задача организации, в особенности же
                            консультация с широким активом
                            создаёт предпосылки для поэтапного и
                            последовательного развития общества.
                        </p>
                        <a href="javascript:void(0);" class="btn">Связаться с нами</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="fon-img">
                <img src="../../img/second-image.jpg" alt="Фон">
            </div>
            <div class="on-fon to-end">
                <div class="about-manufactory lg:max-w-2xl xl:max-w-[60rem] 2xl:max-w-[1200px] 3xl:max-w-screen-2xl">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="text-with-img">
                                <div class="block-text md:max-w-[37rem] mb-16 3xl:mb-36 w-full justify-center">
                                    <span class="shield">о заводе</span>
                                    <h2>Мы помогаем сохранить главное — тепло!</h2>
                                    <p>
                                        Нижегородский Завод Теплообменного Оборудования —
                                        это предприятие полного производственного цикла,
                                        которое занимается производством и поставкой теплообменного
                                        оборудования, охладителей масла и воды, выпара,
                                        судовых дизелей, металлоконструкций, промышленных
                                        фильтров, а также разнообразного ёмкостного и
                                        прочего оборудования.
                                    </p>
                                    <p>
                                        Чтобы получить полную информацию по интересующему
                                        Вас оборудованию, Вы можете заполнить опросный лист,
                                        который размещён на нашем сайте. С Вами свяжется
                                        опытный менеджер и в деталях ответит на все Ваши вопросы.
                                    </p>
                                    <div class="flex flex-wrap 2xl:mt-5 justify-center md:justify-start lg:justify-between gap-4">
                                        <a href="javascript:void(0);" class="btn">Опросный лист</a>
                                        <a href="javascript:void(0);" class="btn btn-transparent">Смотреть презентацию</a>
                                    </div>
                                </div>
                                <div class="slide-img">
                                    <img src="../../img/about-manufactory1.png" alt="О заводе 1">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text-with-img">
                                <div class="block-text md:max-w-[37rem] mb-16 3xl:mb-36 w-full justify-center">
                                    <span class="shield">о заводе</span>
                                    <h2>Надёжный производитель теплообменного оборудования</h2>
                                    <p>
                                        Нижегородский завод теплообменного оборудования,
                                        основанный в конце 1990-х, начал свою деятельность
                                        с производства теплообменных аппаратов для теплоэнергетики.
                                        Более 30 000 единиц оборудования НЗТО установлено на
                                        предприятиях в каждом регионе России и ближнего зарубежья.
                                    </p>
                                    <p>
                                        Среди заказчиков крупные российские и зарубежные компании
                                        энергетической, нефтехимической, газовой, химической,
                                        металлургической отраслей, а также судостроения и
                                        машиностроения.
                                    </p>
                                    <div class="flex flex-wrap 2xl:mt-5 justify-center md:justify-start lg:justify-between gap-4">
                                        <a href="javascript:void(0);" class="btn">Опросный лист</a>
                                        <a href="javascript:void(0);" class="btn btn-transparent">Смотреть презентацию</a>
                                    </div>
                                </div>
                                <div class="slide-img">
                                    <img src="../../img/about-manufactory2.jpg" alt="О заводе 2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
<!--                    <div class="swiper-button-prev"></div>-->
<!--                    <div class="swiper-button-next"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>